---
import { SITE_TITLE } from "../consts";
---

<header>
	<nav>
		<a href="/">
			<h2>{SITE_TITLE}</h2>
		</a>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 16px 8px;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	nav a h2 {
		margin: 0;
		font-size: 1em;
	}
	nav a h2:hover {
		color: var(--accent);
		transition: 0.2s ease;
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
	.search-container {
		display: flex;
		align-items: center;
		padding: 8px 4px;
	}
	.search-input {
		width: 240px;
		padding: 0.5em;
		border-radius: 8px;
		border: 1px solid var(--gray);
		margin-right: 4px;
		outline: none;
	}
	.search-input:focus::placeholder {
		opacity: 0.5;
	}
</style>
