---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="es">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<div class="hero">
				<h1>El sitio web de noticias sobre informática</h1>
				<h5>Dev News unifica las novedades en tecnología de diversas fuentes en un solo lugar!</h5>
				<a href="/crawlers/blog/" class="access-button">Ver artículos</a>
			</div>
			<p>
				Bienvenido a <strong>Dev News</strong>, un blog de tecnología y programación donde compartimos noticias, tutoriales y recursos
				para desarrolladores. Aquí encontrarás contenido sobre lenguajes de programación, frameworks, herramientas y
				tendencias en el mundo del desarrollo de software. Nuestro objetivo es mantenerte informado y ayudarte a
				mejorar tus habilidades como programador. ¡Explora nuestro blog y descubre todo lo que tenemos para ofrecerte!
			</p>
			<p>
				Esta página recopila los últimos artículos de diversas fuentes de noticias y blogs de tecnología. Puedes
				navegar por las categorías y etiquetas para encontrar contenido que te interese. ¡Gracias por visitar
				Dev News!
			</p>
			<p>Éstas son algunas de las fuentes que utilizamos:</p>
			<ul>
				<li><strong>ScieELO: Scientific Electronic Library Online</strong></li>
				<p>
					Biblioteca electrónica de acceso abierto creada en 1998 por la Agencia Nacional de Investigación y Desarrollo (ANID). Difunde la producción científica nacional mediante más de 130 revistas revisadas por pares. Mejora el impacto e internacionalización de la investigación chilena.
				</p>
				<li><strong>Taylor & Francis Online</strong></li>
				<p>
					Editorial académica con más de 200 años de trayectoria. Publica más de 2.700 revistas en diversas áreas, combinando acceso abierto y por suscripción. Incluye sellos como Routledge, CRC Press y F1000 Research.
				</p>
				<li><strong>MDPI: Multidisciplinary Digital Publishing Institute</strong></li>
				<p>
					Editorial científica suiza fundada en 1996, especializada en acceso abierto. Publica más de 460 revistas revisadas por pares bajo licencias Creative Commons. Promueve los ODS de la ONU y forma parte de COPE y OASPA.
				</p>
				<li><strong>arXiv</strong></li>
				<p>
					Plataforma pionera de acceso abierto fundada en 1991. Mantenida por Cornell Tech, alberga más de 2 millones de artículos en física, matemáticas, computación, biología, economía y otras áreas.
				</p>
				<li><strong>RIE: Revista Iberoamericana de Educación</strong></li>
				<p>
					Publicación científica de la OEI desde 1993. Difunde investigaciones educativas en Iberoamérica mediante números monográficos en español o portugués, coordinados por expertos.
				</p>
			</ul>
			<h5>Acerca de nosotros</h5>
			<p>
				Somos un grupo de estudiantes de Ingeniería Civil en Computación del curso
				<strong>Gestión de Proyectos Tecnológicos</strong> de la Universidad de Talca.
			</p>
			<p>
				Creamos <strong>Dev News</strong>, con el objetivo de facilitar el acceso a noticias y contenidos actualizados del área de la informática. 
				Debido a la gran cantidad de información dispersa en la web, utilizamos técnicas de <em>web scraping</em> y <em>crawling</em> para recopilar y centralizar contenidos relevantes en un solo lugar.
			</p>
			<p><strong>Integrantes:</strong></p>
			<ul>
				<li>
				<span class="nombre">Fernando Urzúa</span> –
				<a href="https://github.com/urzuaf" target="_blank" rel="noopener">GitHub</a>
				</li>
				<li>
				<span class="nombre">Nicolás Cuadra</span> –
				<a href="https://github.com/nicolascuadram" target="_blank" rel="noopener">GitHub</a>
				</li>
				<li>
				<span class="nombre">Cristian Fuentes</span> –
				<a href="https://github.com/CristianF3" target="_blank" rel="noopener">GitHub</a>
				</li>
				<li>
				<span class="nombre">Nicolás López</span> –
				<a href="https://github.com/Nicolais174" target="_blank" rel="noopener">GitHub</a>
				</li>
				<li>
				<span class="nombre">Maximiliano Maure</span> –
				<a href="https://github.com/maxxandres" target="_blank" rel="noopener">GitHub</a>
				</li>
			</ul>
		</main>
		<Footer />
	</body>
</html>

<style>
	.hero {
		width: calc(100% - 2em);
		max-width: 100%;
		margin: 2em 0;
		padding: 1em;
		text-align: center;
	}
	.hero h1 {
		line-height: 1;
	}
	.hero h5 {
		margin: 0;
		font-size: 1.2em;
		font-weight: 400;
		padding-left: 14%;
		padding-right: 14%; 
		color: gray;
	}
	.access-button {
		display: inline-block;
		background-color: var(--accent);
		margin: 2em 0;
		padding: 12px 32px;
		border: none;
		border-radius: 12px;
		text-decoration: none;
		font-size: 1em;
		font-weight: 600;
		color: white;
	}
	.access-button:hover {
		background-color: var(--accent-dark);
		box-shadow: var(--box-shadow);
		transition: 0.2s ease;
	}
	.nombre {
		display: inline-block;
    	width: 170px;
  	}
</style>